@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.main {
    background-image: url(Assets/background-image.jpg);
    height: 710px;
    background-position: center center;
    background-size: cover;
    position: relative;
    color: white;
}

#nf-logo {
    height: 100px;
    width: 150px;
}

.main .box {
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.8500) 3.000%, rgba(0, 0, 0, 0.8465) 11.08%, rgba(0, 0, 0, 0.8361) 19.17%, rgba(0, 0, 0, 0.8187) 27.25%, rgba(0, 0, 0, 0.7944) 35.33%, rgba(0, 0, 0, 0.7632) 43.42%, rgba(0, 0, 0, 0.7250) 51.50%, rgba(0, 0, 0, 0.6868) 59.58%, rgba(0, 0, 0, 0.6556) 67.67%, rgba(0, 0, 0, 0.6313) 75.75%, rgba(0, 0, 0, 0.6139) 83.83%, rgba(0, 0, 0, 0.6035) 91.92%, rgba(0, 0, 0, 0.6000) 100.0%);
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    margin-top: -0px;
    margin-left: -16px;
    width: calc(100% + 16px);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.8rem;
    height: 5.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.7) 25%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0) 100%);
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    margin-left: 100px;
    margin-right: 100px;
}

nav img {
    width: 114px;
    height: auto;
}

.nav-controls {
    display: flex;
    align-items: center;
    gap: 20px;
}

.language-container,
.select-container {
    position: relative;
    display: flex;
    align-items: center;
}

.language-icon,
.select-container .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    pointer-events: none;
}

#language-select,
#country,
#genre {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 30px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: lighter;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    height: 40px;
}

#language-select:hover,
#country:hover,
#genre:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

#language-select:focus,
#country:focus,
#genre:focus {
    outline: none;
    background-color: white;
    color: black;
    border-color: black;
}

#btn-sign-in {
    height: 40px;
    margin-left: 20px;
    padding: 0 20px;
    background-color: #e50914;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: lighter;
    line-height: 40px;
    width: 90px;
    transition: background-color 0.3s ease-in-out;
}

#btn-sign-in:hover {
    background-color: #f40612;
}

#btn-sign-in:focus {
    outline: none;
    background-color: #d40813;
}

.maintext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    position: relative;
    z-index: 10;
    padding: 0 20px;
    gap: 22px;
}

.main-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
}

.sub-heading {
    font-weight: 600;
    font-size: 1rem;
}

.email-text {
    font-weight: 300;
    font-size: 1rem;
}

.email-form {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.email-form input {
    padding: 15px;
    border: none;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 300px;
    color: white;
    font-weight: 400;
}

.email-form button {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
}

.email-form button:hover {
    background-color: #f40612;
}

.separate {
    height: 11px;
    background-color: gray;
}

.divider {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    height: 6.25rem;
    z-index: 1;
    width: 100%;
    margin-top: -100px;
}

.curve:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-top: -.25rem;
    border-radius: inherit;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
}

.curve {
    width: 130%;
    left: -15%;
    position: absolute;
    height: 100%;
    border: solid .25rem transparent;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom: none;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    background-clip: padding-box;
}

.secondSection {
    position: relative;
    z-index: 2;

}

.trending-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 70px;
}

.trending-header {
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    justify-content: left;
    margin-left: 100px;
}

.secondSection p {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.select-container {
    display: flex;
    gap: 10px;
}

#country,
#genre {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: lighter;
    cursor: pointer;
}

#country {
    width: 100px;
}

#genre {
    width: 250px
}

.movieslistsection {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movieslistsection .classunorderedlist {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.movieslistsection .classunorderedlist li {
    position: relative;
    width: auto;
    height: auto;
}

.movieslistsection .classunorderedlist img {
    cursor: pointer;
    display: block;
    width: auto;
    height: 200px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.movieslistsection .classunorderedlist img:hover {
    transform: scale(1.05);
}

.poster-number {
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.grid-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.grid-banner h2 {
    color: white;
    font-size: 22px;
    margin-bottom: 2rem;
    align-self: flex-start;
    padding-left: 127px;
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}

.banner-box {
    min-height: 200px;
    width: 100%;
    padding: 1.5rem;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.banner-box h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    /* margin-bottom: 1rem; */
}

.banner-box p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 3rem;
    /* margin-top: 1rem; */
}

.banner-box img {
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

#banner-box-4 {
    padding-bottom: 16px;
}

@media (max-width: 768px) {
    .grid-box {
        grid-template-columns: 1fr;
    }

    .banner-box {
        min-height: auto;
        padding-bottom: 5rem;
    }

    .banner-box h3 {
        font-size: 1.2rem;
    }

    .banner-box p {
        font-size: 0.9rem;
    }
}

.below-faq-box {
    margin-left: 170px;
    font-size: 1rem;
}

#bfaqbox {
    font-weight: 400;
}

#emailholder2 {
    width: 650px;
    font-weight: 400;
}

#email-btn-2 {
    width: 200px;
    font-size: 1.2rem;
}

.faq-container {
    max-width: 1000px;
    margin-left: 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: left;
    position: relative;
    font-size: 22px;
    font-weight: 450;
}

.faq-list {
    margin-top: 20px;
}

.faq-toggle {
    display: none;
}

.faq-question {
    height: 90px;
    background-color: rgb(33, 30, 30);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
    font-weight: lighter;
}

#underline-phone {
    font-weight: 450;
}


.faq-question h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 450;

}

.toggle-btn {
    font-size: 50px;
    color: white;
    font-weight: 300;
}

.faq-answer {
    padding: 15px;
    display: none;
    background-color: rgb(29, 27, 27);
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.faq-answer p {
    margin: 0;
    font-size: 18px;
    font-weight: lighter;
}

.faq-toggle:checked+.faq-question+.faq-answer {
    display: block;
}

.faq-answer .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.faq-answer .close-btn {
    display: none;
}

.faq-toggle:checked+.faq-question+.faq-answer .close-btn {
    display: block;
}

footer {
    color: white;
    max-width: 60vw;
    margin-left: 200px;

}

footer .questions {
    padding: 34px 0;
    font-weight: 400;
    opacity: 0.7;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer a {
    font-size: 14px;
    color: white;
    font-weight: 400;
    opacity: 0.7;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.language-container2,
.select-container2 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 150px;
}

.language-icon2,
.select-container2 .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    pointer-events: none;
}

#language-select2 {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 30px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: lighter;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    height: 40px;
}

#language-select2:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

#language-select2:focus {
    outline: none;
    background-color: white;
    color: black;
    border-color: black;
}

.nfindia {
    height: 100px;
    width: 100px;
    color: #ffffff;
    margin-top: 40px;
}

#nf-india {
    font-size: 14px;
    font-weight: lighter;
    opacity: 0.7;
}
